*{
    border: solid;
}
h1{
    color: #FF8D1A;
   padding-left: 30px;
}
.header{
    background-color: aquamarine;

}
.item{
    position:relative;
    margin: 10px;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    font-family: fantasy;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity: 0.33;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}
.title *{
    border:solid;
    margin: 20px;
    padding: 15px;
}
a{
    color: black;
}
a:visited{
    color: black;
}
